[submodule "etc/vim/bundle/Vundle.vim"]
	path = etc/vim/bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim.git
[submodule "etc/vim/bundle/nerdtree"]
	path = etc/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "etc/vim/bundle/vim-nerdtree-tabs"]
	path = etc/vim/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "etc/vim/bundle/vim-surround"]
	path = etc/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
